.typo {
	color: $color-text;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: 400;
	line-height: $line-height;
	//white-space: pre-wrap;
	word-wrap: break-word;
	* {
		margin: 0 0 20px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 300;
		margin: 1.5em 0 .8em;
		line-height: 1.2;
		color: $color-text;
	}
	a {
		@include link;
	}
	h1, h2 {
		font-size: 35px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		margin-bottom: .8em;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
	}
	p {
		font-size: 15px;
	}
	span {
		font-size: 15px;
	}
	img {
		display: block;
		max-width: 100%;
		vertical-align: middle;
		border-radius: 6px;
		overflow: hidden;
	}
	img:not(:first-child) {
		margin-top: 20px;
	}
	blockquote {
		padding: 0;
		font-size: 24px;
		line-height: 1.2;
		color: #78909c !important;
		font-weight: 400;
		border: 0;
		&:after,
		&:before {
			display: inline-block;
			vertical-align: baseline;
			color: #d8dde0;
			line-height: 0;
			font-size: 72px;
			position: absolute;
		}
		&:before {
			content: "“";
			margin-left: -40px;
			margin-top: 20px;
		}
		&:after {
			content: "„";
			margin-left: 20px;
		}
		* {
			color: #78909c;
		}
	}
	ul, ol {
		padding: 0;
		//list-style: none;
		ul, ol {
			padding-left: 20px;
		}
	}
	li {
		margin-bottom: 8px;
		display: block;
		&:before {
			content: "";
			display: inline-block;
			vertical-align: baseline;
		}
	}
	// dot
	ul {
		& > li {
			&:before {
				vertical-align: middle;
				margin-right: 16px;
				width: 6px;
				height: 6px;
				margin-top: -2px;
				border-radius: 4px;
				background-color: #000 !important;
			}
		}
	}
	// number
	ol {
		counter-reset: a;
		& > li {
			&:before {
				min-width: 14px;
				counter-increment: a;
				content: counters(a, '.') '.';
				margin-right: 8px;
			}
		}
	}
	small {
		color: #9e9c9c;
		font-size: 14px;
	}
	@include media(s) {
		blockquote {
			font-size: 18px;
			padding-left: 15px;
			&:after,
			&:before {
				font-size: 48px;
			}
			&:before {
				margin-left: -22px;
			}
			&:after {
				margin-left: 8px;
			}
		}
	}
	@include media(xs) {
		* {
			margin: 0 0 12px;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		img:not(:first-child) {
			margin-top: 12px;
		}
		h1, h2 {
			font-size: 22px;
		}
		h3 {
			font-size: 20px;
		}
		h4 {
			font-size: 18px;
		}
		h5, h6 {
			font-size: 16px;
		}
	}
}


.videoOuterWrap {
	width: 100%;
}

.videoInnerWrap {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
