@mixin clearfix {
	&:after {
		content: ' ';
		display: block;
		clear: both;
		overflow: hidden;
	}
	&:before {
		content: ' ';
		display: block;
		clear: both;
		overflow: hidden;
	}

}

.clearfix {
	@include clearfix;
}
