//$font-family: 'Gotham Pro',Geneva, Verdana, sans-serif;
$font-family: Arial, Tahoma, Verdana, sans-serif;
$font-size: 15px;
$line-height: 1.6;
$columns: 12;
$border-radius: 5px;

$color-accent: #FF9500;
$color-danger: #FF3B30;
$color-success: #8BC34A;

$color-brand: #103D97;
$color-text: #000000;
$color-gray: #8E8E93;
$color-gray-mid: #C7C7CC;
$color-gray-light: #E5E5EA;
$color-form: #D1D1D6;

$color-btn: #F9F8FC;
